{% extends "base.html" %} {% block title %} Visualizar {% endblock %} {% block content %}
<div id="main" class="container-fluid">
    <h3 class="page-header">Visualizar Cadastro</h3>

    <div class="row">
        <div class="col-md-6">
            <p><strong>Nome</strong></p>
            <p>{{item['nome']}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><strong>Email</strong></p>
            <p>{{item['email']}}</p>
        </div>
        <div class="col-md-4">
            <p><strong>Número de Celular</strong></p>
            <p>{{item['cel']}}</p>
        </div>
        <div class="col-md-4">
            <p><strong>Data de Nascimento</strong></p>
            <p>{{item['nasc']}}</p>
        </div>
    </div>

    <hr />
    <div id="actions" class="row">
        <div class="col-md-12">
            <a href="/" class="btn btn-primary">Fechar</a>
            <a href="/edit/{{item['id']}}" class="btn btn-default">Editar</a>
            <a href="#" class="btn btn-default" data-toggle="modal" data-target="#delete-modal">Excluir</a>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabel">Excluir cadastro</h4>
                </div>
                <div class="modal-body">
                    Deseja realmente excluir este cadastro?
                </div>
                <form id="fdel" action="{{ url_for('delete') }}" method="POST">
                    <input style="display: none;" type="text" name="id" value="{{item['id']}}">
                </form>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" onClick="document.getElementById('fdel').submit();">Sim</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock%}